<div class="container py-4" style="background-color: #3f8edc;">
  <div class="row">
    <div
      *ngFor="let t of trainers"
      class="col-12 col-sm-6 col-md-4 mb-4"
    >
      <div class="card h-100">
        <img
          [src]="t.imageUrl"
          class="card-img-top"
          [alt]="t.name"
          (click)="onSelected(t)"
        />
        <div class="card-body">
          <h5 class="card-title">{{ t.name }}</h5>
          <p class="card-text">{{ t.smallSnopsies }}</p>
          <p class="card-text">
            <strong>Age:</strong> {{ t.age }}
          </p>
          <p class="card-text">
    <strong>No. Pokémon:</strong>
<strong>No. Pokémon:</strong> {{ t.pokemons.length }}
  </p>
        </div>
      </div>
    </div>
  </div>
</div>
